html,body{
	height: 100%;
	background-color: #f4f3f3;
}
*{
	margin: 0;padding: 0;
}
a{
	color: #000;
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.f-8{
	font-size: 8px;
}
.f-14{
	font-size: 14px;
}
.f-22{
	font-size: 22px;
}
li{
	list-style: none;
}
